<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.janita.mybatis.dao.HospitalEquipmentRecordDAO">
    <resultMap id="BaseResultMap" type="com.janita.mybatis.entity.HospitalEquipmentRecord">
        <id column="equipment_id" property="equipmentId" jdbcType="VARCHAR"/>
        <result column="department_id" property="departmentId" jdbcType="VARCHAR"/>
        <result column="hospital_id" property="hospitalId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT equipment_id, department_id, hospital_id, name
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.janita.mybatis.entity.HospitalEquipmentRecord">
        SELECT *
        FROM [hospital_equipment_record]
        WHERE equipment_id = #{equipmentId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.janita.mybatis.entity.HospitalEquipmentRecord">
        DELETE FROM [hospital_equipment_record]
        WHERE equipment_id = #{equipmentId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.janita.mybatis.entity.HospitalEquipmentRecord">
        INSERT INTO [hospital_equipment_record] ( equipment_id,
          department_id, hospital_id, name )
        VALUES ( #{equipmentId,jdbcType=VARCHAR}, 
          #{departmentId,jdbcType=VARCHAR}, #{hospitalId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.janita.mybatis.entity.HospitalEquipmentRecord">
        INSERT INTO [hospital_equipment_record]
        <trim prefix="(" suffixOverrides="," suffix=")">
                equipment_id,
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="hospitalId != null">
                hospital_id,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{equipmentId,jdbcType=VARCHAR},
            <if test="departmentId != null">
                #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="hospitalId != null">
                #{hospitalId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO [hospital_equipment_record] ( equipment_id,
          department_id, hospital_id, name )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.equipmentId,jdbcType=VARCHAR}, 
            #{item.departmentId,jdbcType=VARCHAR}, #{item.hospitalId,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.janita.mybatis.entity.HospitalEquipmentRecord">
        UPDATE [hospital_equipment_record]
        <set>
            <if test="departmentId != null">
                department_id = #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="hospitalId != null">
                hospital_id = #{hospitalId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE equipment_id = #{equipmentId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.janita.mybatis.entity.HospitalEquipmentRecord">
        UPDATE [hospital_equipment_record]
        SET department_id = #{departmentId,jdbcType=VARCHAR},
            hospital_id = #{hospitalId,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR}
        WHERE equipment_id = #{equipmentId,jdbcType=VARCHAR}
    </update>
</mapper>